<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Hello GKE PHP{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block stylesheets %}{% endblock %}
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
        {% block inner_body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
