{% extends 'AppBundle::layout.html.twig' %}

{% block page_content %}
    <h1>Hello World, from "{{ serverName }}"!</h1>

    <h3>
        <span class="rainbow">Have a colorful day! :-)</span>
    </h3>
{% endblock %}
